<!DOCTYPE html>
<html lang="vi" class="no-js">
<% include layouts/head %>
<body>
	<% include layouts/header %>

  <div class="container mt-5 pt-5">
    <div>
      <form action="/payment/ewallet" method="POST">
        <div class="row">
          <!-- User info -->
          <div class="col-12 col-md-4">
            <h5>Thông tin liên lạc:</h5>
            <hr>
            <div class="form-row">
              <% if(data.renter){ %>
                <div class="form-group col-12">
                  <label><span class="font-weight-bold">Email:</span> <%= data.renter %> </label>
                </div>
              <% } else { %>
                <div class="form-group form-col-6">
                  <label for="email">Email:</label>
                  <input name="email" type="text" id="email" class="form-control" placeholder="Nhập email để đặt sân">
                </div>
              <% } %>
              <% if(data.sdt){ %>
                <div class="form-group col-12">
                  <label><span class="font-weight-bold">SDT:</span> <%= data.sdt %> </label>
                </div>
              <% } else { %>
                <div class="form-group form-col-6">
                  <label for="phoneNumber">SDT:</label>
                  <input name="phoneNumber" type="text" id="phoneNumber" class="form-control" placeholder="Yêu cầu số điện thoại để xác minh">
                </div>
              <% } %>
            </div>
          </div>

          <!-- Field info -->
          <div class="col-6 col-md-4">
            <h5>Thông tin thanh toán:</h5>
            <hr>
            <p><span class="mr-1 font-weight-bold">Sân:</span> <%if(data.sanbong){%><%= data.sanbong.loaisan %> Người<%}%></p>
            <p><span class="mr-1 font-weight-bold">Ngày:</span> <%= data.ngayThue %></p>
            <p><span class="mr-1 font-weight-bold">Thời gian:</span> <%= data.dattu %></p>
            <p><span class="mr-1 font-weight-bold">Trong:</span> <%= data.thoiluongThue %> giờ</p>
          </div>

          <!-- Payment way -->
          <div class="col-6 col-md-4">
            <h5>Thanh toán:</h5>
            <hr>
            <div class="form-check mt-1">
              <input class="form-check-input" type="radio" name="exampleRadios" id="momo" value="momo" checked>
              <label class="form-check-label" for="momo">
                Mono
              </label>
            </div>
            <div class="form-check mt-1">
              <input class="form-check-input" type="radio" name="exampleRadios" id="zalopay" value="zalopay">
              <label class="form-check-label" for="zalopay">
                Zalopay
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="primary-btn py-3 text-uppercase d-block mx-auto mt-5 mb-2">Thanh toán</button>
      </form>
    </div>
  </div>
	
	<% include layouts/footer %>
	<% include layouts/script %>
    <script>
      $('#header').addClass('header-scrolled');
    </script>
</body>
</html>
